### 1. Write a python script to print the first 10 multiples of 5.

In [10]:
for i in range(0,50,5):
    print(i,end=' ')

0 5 10 15 20 25 30 35 40 45

In [23]:
for i in range(1,11):
    print(5*i,end=' ')

5 10 15 20 25 30 35 40 45 50

### 2. Write a python script to print first 10 multiples of N

In [28]:
n = int(input("Please Enter any Number: "))
for i in range(1,11):
    print(n*i,end=' ')

Please Enter any Number: 2
2 4 6 8 10 12 14 16 18 20

### 3. Write a python script to print first M multiples of N.

In [30]:
m = int(input("Please Enter the value of m: "))
n = int(input("Please Enter the value of n: "))

for i in range(0,m+1):
    print(n*i,end=' ')

Please Enter the value of m: 5
Please Enter the value of n: 2
0 2 4 6 8 10

### 4. Write a python script to print the first 10 multiples of N in reverse order.

In [33]:
n = int(input("Please Enter any Number: "))
for i in range(10,0,-1):
    print(n*i,end=' ')

Please Enter any Number: 2
20 18 16 14 12 10 8 6 4 2

### 5. Write a python script to print table of userâ€™s choice

In [ ]:
n = int(input("Please Enter any Number: "))
for i in range(1,11):
    print(n*i,end=' ')

### 6. Write a python script to print first N even natural numbers

In [40]:
n = int(input("Please Enter any Number: "))
for i in range(2,n+1,2):
    print(i,end=' ')

Please Enter any Number: 10
2 4 6 8 10

### 7. Write a python script to print first N odd natural numbers

In [39]:
n = int(input("Please Enter any Number: "))
for i in range(1,n+1,2):
    print(i,end=' ')

Please Enter any Number: 10
1 3 5 7 9

### 8. Write a python script to print squares of first N natural numbers.

In [42]:
n = int(input("Please Enter any Number: "))
for i in range(1,n+1):
    print(i*i,end=' ')

Please Enter any Number: 10
1 4 9 16 25 36 49 64 81 100

### 9. Write a python script to print cubes of first N natural numbers.

In [43]:
n = int(input("Please Enter any Number: "))
for i in range(1,n+1):
    print(i**3,end=' ')

Please Enter any Number: 10
1 8 27 64 125 216 343 512 729 1000

### 10. Write a python script to display all prime numbers within a range.
### range
- start = 15
- end = 45

In [45]:
min = int(input("Enter the min : "))
max = int(input("Enter the max : "))
for n in range(min,max + 1):
   if n > 1:
       for i in range(2,n):
           if (n % i) == 0:
               break
       else:
           print(n,end=' ')

Enter the min : 15
Enter the max : 45
17 19 23 29 31 37 41 43